body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:352px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:61px;
}
#u2477 {
  position:absolute;
  left:191px;
  top:65px;
  width:161px;
  height:61px;
}
#u2478 {
  position:absolute;
  left:2px;
  top:22px;
  width:157px;
  word-wrap:break-word;
}
#u2479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:61px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2479 {
  position:absolute;
  left:191px;
  top:152px;
  width:161px;
  height:61px;
}
#u2480 {
  position:absolute;
  left:2px;
  top:22px;
  width:157px;
  word-wrap:break-word;
}
#u2481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:61px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2481 {
  position:absolute;
  left:191px;
  top:239px;
  width:161px;
  height:61px;
}
#u2482 {
  position:absolute;
  left:2px;
  top:22px;
  width:157px;
  word-wrap:break-word;
}
#u2483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:61px;
}
#u2483 {
  position:absolute;
  left:191px;
  top:327px;
  width:161px;
  height:61px;
}
#u2484 {
  position:absolute;
  left:2px;
  top:22px;
  width:157px;
  word-wrap:break-word;
}
#u2485 {
  position:absolute;
  left:272px;
  top:126px;
  width:0px;
  height:0px;
}
#u2485_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u2485_seg1 {
  position:absolute;
  left:-10px;
  top:13px;
  width:20px;
  height:20px;
}
#u2486 {
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2487 {
  position:absolute;
  left:272px;
  top:213px;
  width:0px;
  height:0px;
}
#u2487_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u2487_seg1 {
  position:absolute;
  left:-10px;
  top:13px;
  width:20px;
  height:20px;
}
#u2488 {
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2489 {
  position:absolute;
  left:30px;
  top:33px;
  width:99px;
  height:16px;
}
#u2490 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2491 {
  position:absolute;
  left:272px;
  top:300px;
  width:0px;
  height:0px;
}
#u2491_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u2491_seg1 {
  position:absolute;
  left:-10px;
  top:14px;
  width:20px;
  height:20px;
}
#u2492 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
